# Ignore virtual environment
venv/

# Ignore dataset files
data/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore temp files
tempCodeRunnerFile.py