# Virtual environments
venv/
.venv/
.env/

# Dataset directories
data/
FloodNet-Supervised_v1.0/

# Python cache/files
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# System files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# Model/artifact files
*.pth
*.pt
*.onnx
*.h5
*.ckpt

# Logs and experiment trackers
*.log
logs/
wandb/
mlruns/
outputs/
output/*
!output/7935_prediction.png
!output/7956_prediction.png
!output/7969_prediction.png
!output/9032_prediction.png

# Generated artifacts
metrics.csv
predictions/

# Temp files
*.tmp
*.temp
tempCodeRunnerFile.py